@model RoleViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>


<h1>Create</h1>

<h4>Create Page </h4>
<br />
<br />

<form asp-controller="Role" asp-action="Create" enctype="multipart/form-data">
    <partial name="RolePartialView/CreatEditPartialView" />
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-controller="Role" asp-action="Index" class="btn btn-light">Back to List</a>
</form>

@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
}